<div class="container" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign.gt-md="space-around center"
  fxLayoutGap="10px" fxLayoutGap.xs="0">

  <div fxFlex="40" *ngIf="dish">
    <md-card>
      <md-card-header>
        <md-card-title>
          <h3>{{dish.name | uppercase}}</h3>
        </md-card-title>
      </md-card-header>
      <img md-card-image src= "{{BaseURL + dish.image}}"  alt={{dish.name}}>
      <md-card-content>
        <p>{{dish.description}}
        </p>
      </md-card-content>
      <md-card-actions>
        <button md-button [routerLink]="['/dishdetail', prev]">
          <span class="fa fa-chevron-left fa-lg">
          </span>
        </button>
        <button md-button (click)="goBack()">BACK</button>
        <button md-button>LIKE</button>
        <button md-button>SHARE</button>
        <span class="flex-spacer"></span>
        <button md-button [routerLink]="['/dishdetail', next]">
          <span class="fa fa-chevron-right fa-lg">
          </span>
        </button>
      </md-card-actions>
    </md-card>
  </div>

  <div [hidden]="dish || errMess">
    <md-spinner></md-spinner>
    <h4>Loading . . . Please Wait</h4>
  </div>
  <div *ngIf="errMess">
    <h2>Error</h2>
    <h4>{{errMess}}</h4>
  </div>

  <div fxFlex="40" *ngIf="dish">

    <md-list>
      <h3>Comments</h3>
      <md-list-item *ngFor="let comment of dish.comments">
        <h4 md-line> {{comment.comment}} </h4>
        <p md-line>
          <span> {{comment.rating}} </span>
        </p>
        <p md-line>
          ----<span> {{comment.author}} </span> <span> {{comment.date | date }} </span>
        </p>
      </md-list-item>
    </md-list>

    <!-- 
    <form novalidate [formGroup]="commentForm" (ngSubmit)="onSubmit()">
      <p>
        <md-input-container class="half-width" dividerColor="{{(formErrors.firstname) ? 'warn' : 'primary'}}">
          <input mdInput formControlName="firstname" placeholder="First Name" type="text" required>
          <md-hint>
            <span [hidden]="!(formErrors.firstname)">
                  {{formErrors.firstname}}</span>
          </md-hint>
        </md-input-container>
      </p>
      <p>
        <md-input-container>
        </md-input-container>
      </p>
      <p>
        <md-input-container class="full-width">
          <label for="commentId" class="col-sm-3 control-label">Your Comments</label>
          <textarea mdInput formControlName="message" placeholder="Your Feedback" rows=12></textarea>
        </md-input-container>
      </p>
      <button type="submit" md-button class="background-primary text-floral-white" [disabled]="commentForm.invalid">Submit Comment</button>
    </form>
  </div>
  <div [hidden]="dish">
    <md-spinner></md-spinner>
    <h4>Loading ... Please Wait</h4>
  </div> -->



    <!-- 
  <form class="form-horizontal" name="commentForm" ng-submit="submitComment()" novalidate>
    <div class="form-group" ng-class="{ 'has-error has-feedback' : commentForm.name.$invalid && !commentForm.name.$pristine }">
      <label for="name" class="col-sm-3 control-label">Your Name</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="name" name="name" placeholder="Enter Your Name" ng-model="comment.author" required>
        <span ng-show="commentForm.name.$invalid && !commentForm.name.$pristine" class="glyphicon glyphicon-remove form-control-feedback"
          aria-hidden="true"></span>
        <span ng-show="(commentForm.name.$invalid || commentForm.name.$error.required) && !commentForm.name.$pristine" class="help-block">Your name is required.</span>
      </div>
    </div>
    <div class="form-group">
      <label for="rating" class="col-sm-3 control-label">Number Of Stars</label>
      <div class="col-sm-9">
        <label class="radio-inline"><input type='radio' name="rating" value="1" ng-model="comment.rating">1</label>
        <label class="radio-inline"><input type='radio' name="rating" value="2" ng-model="comment.rating">2</label>
        <label class="radio-inline"><input type='radio' name="rating" value="3" ng-model="comment.rating">3</label>
        <label class="radio-inline"><input type='radio' name="rating" value="4" ng-model="comment.rating">4</label>
        <label class="radio-inline"><input type='radio' name="rating" value="5" ng-model="comment.rating" checked>5</label>
      </div>
    </div>
    <div class="form-group" ng-class="{ 'has-error has-feedback' : commentForm.comment.$invalid && !commentForm.comment.$pristine }">
      <label for="commentId" class="col-sm-3 control-label">Your Comments</label>
      <div class="col-sm-9">
        <textarea class="form-control" id="commentId" name="comment" rows="12" ng-model="comment.comment" required></textarea>
        <span ng-show="(commentForm.comment.$invalid || commentForm.comment.$error.required) && !commentForm.comment.$pristine" class="help-block">Your comments are required.</span>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-9">
        <button type="submit" class="btn btn-primary" ng-disabled="commentForm.$invalid">Submit Comment</button>
      </div>
    </div>
  </form> -->

  </div>